
.nova-box-highlight {
  outline: 3px solid #6366f1 !important;
  outline-offset: 2px;
  border-radius: 8px !important;
  transition: outline 0.2s ease-in-out !important;
  z-index: 1000 !important;
}


.nova-focus-mode {
  transition: opacity 0.5s ease;
}